@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
body{
    padding: 0px;
    margin: 0px;
    font-family: "Inter";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:120px 780px 600px 166px auto 200px auto;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #2349c7;
    align-items: center;
    color: #f6f3ec;
    padding: 0px 78px;
}
.regular{
    color: #f6f3ec;
}
.headnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}
.admin{
    background-color: #f6f3ec;
    color: black;
    padding: 20px 15px;
    border-radius: 10px;
    width: 170px;
    text-align: center;
}
.choice{
    position: relative;
    display: flex;
    justify-content: center;
    background-color:#F4F9FF;
    column-gap: 40px;
    padding: 100px 70px;
}
.description{
    width: 60%;
}
.img{
    background-image: url('./flat.png');
    background-position: center center;
    width: 507px;
    background-size: cover;
}
.sendbtn{
    background-color:#2349C7;
    padding: 22px 40px;
    color: #f6f3ec;
    border: 0px;
    border-radius: 8px;
}
.btndiv{
    padding-top: 50px;
}
.searchbox{
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    bottom: -58px;
    width: 1080px;
    height: 120px;
    left: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-form{
    display: flex;
    gap: 30px;
}
.search-form select,
.search-form button {
    display: block;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 200px;
}
.search-form button{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:#2349C7;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px 50px 0px 50px;
}
.headers{
    width: 100%;
    text-align: center;
    height: 100px;
}
.cardbox{
    padding-top: 50px;
    width: 100%;
    display: flex;
    column-gap: 30px;
}
.card{
    width: 381px;
    box-shadow: 4px 4px 10px grey;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.cardlink{
    display: block;
    margin-top: 20px;
    fill: currentColor;
}
.card:hover .cardheader{
    transition: all;
    transition-duration: 200ms;
    color: #2349C7;
}
.card:hover{
    transition: all;
    transition-duration: 100ms;
    border-bottom: 4px solid #2349C7;
}
.stats{
    width: 100%;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 120px;
    background-color:#F4F9FF;
}
.number{
    text-align: center;
}
.number .numheader{
    font-size: 40px;
    font-weight: 700;
}
.filler{
    display: flex;
    padding: 70px 40px;
    justify-content: center;
    column-gap: 50px;
}
.fillerimg{
    background-image: url("./flat-with-pool.png");
    background-position: center center;
    background-size: cover;
    width: 590px;
}
.fillertext{
    width: 40%;
}
.fillerlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
}
.listitem{
    display: flex;
    align-items: center;
}
.playbutton{
    position: absolute;
    right: calc(50% - 57px);
    top: calc(50% - 56px);
}
.subbox{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    background-color: #2349C7;
}
.subform{
    display: flex;
    justify-content: center;
}
.email{
    height: 70px;
    width: 460px;
    border: 0px;
    padding: 0px 20px;
    border-radius: 8px 0 0 8px;
}
.subbutton{
    color: white;
    height: 70px;
    width: 149px;
    border: 0px;
    border-radius: 0 8px 8px 0;
    background-color: #121F40;
}
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #121F40;
    padding: 50px 60px;
}
.ftext{
    width: 100%;
}
.fbottom{
    background-color: #121F40;
    border-top: 1px solid #FAFAFA;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}