/*--------------------------Общие стили--------------------------*/
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
}
body {
  display: flex;
  flex-wrap: wrap;
}
a {
  color: #f6f3ec;
  text-decoration: none;
}
/*--------------------------Шапка сайта--------------------------*/
header {
  width: 100%;
  background-color: #2349c7;
  height: 124px;
  display: flex;
  padding: 0px 78px;
  color: #f6f3ec;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 217px;
}
.headnav {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }
.admin {
  background-color: #f6f3ec;
  color: black;
  padding: 20px 15px;
  border-radius: 10px;
  text-align: center;
  width: 170px;
}
/*--------------------------Основная часть--------------------------*/
main {
  width: 100%;
  display: flex;
  padding: 80px 40px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #f6f3ec;
  column-gap: 50px;
}
main form{
    width: 669px;
}
#ans{
    display: block;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    color:grey;
}
.formdiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cell{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    width: 48%;
    margin-top: 20px;
}
.cell label{
    display: block;
    width: 100%;
}
.cell input, textarea{
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid grey;
}
.full{
    width: 100%;
}
#admin{
    width: 100%;
    border: 0px;
    margin-top:30px;
    background-color: #2349c7;
    height: 62px;
    border-radius: 10px;
    color: #f6f3ec;
}
/*-------------------------- Подвал --------------------------*/
footer {
  display: flex;
  height: 180px;
  width: 100%;
  padding: 30px 80px;
  justify-content: space-between;
  background-color: #121f40;
}
.social {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
}
#socialspan {
  width: 100%;
  color: #f6f3ec;
  font-weight: 700;
}
.socialicon {
  width: 40px;
  height: 40px;
}
.navfooter {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}